<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>AccountBook</title>
    <!-- bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- google icon -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <style>
        .row {
            font-family: Verdana, sans-serif;
            font-size: 15px;
            font-style: normal;
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 20px;
            margin: auto;
            background-color: ivory;
        }

        .card {
            text-align: left;
            font-size: 12px;
            border-left: 7px solid black;
            border-right: 7px solid black;
            margin-bottom: 30px;
            height: 80px;
        }

        .card1 {
            font-weight: bolder;
            font-size: 18px;
            text-align: center;
            width: 200px;
            height: 170px;
            border-radius: 15px;
            border: 3px solid black;
            margin: 10px;
            padding: 10px;
        }

        .search {
            width: 50%;
            margin-left: 25%;
        }

        #type, #datatype {
            border: 3px solid black;
        }

        #keyword, #date {
            border: 3px solid black;
        }

        .button {
            border: none;
            background-color: white;
        }

        .cardbody {
            container: flex;
            padding-top: 50px;
            color: #faa589;
        }

        .list {
            text-align: left;
            font-size: 12px;
            color: #faa589;
        }

    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <!-- 여백 -->
        <div class="col-sm-2"></div>
        <!-- 내용 -->
        <div class="col-sm-5">
            <div class="container mt-3 mb-3 p-3 my-3">
                <div class="container mt-3 mb-5">
                    <form class="d-flex" th:action="@{/account/month}" method="get"
                          onsubmit="return validateDate()">
                        <div class="container input-group mb-3 mt-3">
                            <label for="datatype" class="form-label"></label>
                            <select class="form-select-sm" id="datatype" name="datatype" onchange="changePlaceholder()">
                                <option value="year">year</option>
                                <option value="month">month</option>
                            </select>
                            <label for="date" class="form-label"></label>
                            <input type="text" class="form-control" name="date" id="date"
                                   th:value="${param.date}" placeholder="yyyy">
                            <button type="submit" class="btn">
                                <span class="material-symbols-outlined">
                                    search
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="list container mt-3 mb-3">
                    <span>
                         전체 내역 :
                    </span>
                    <span th:text="${length}"/>
                </div>
                <div class="container mt-3" th:each="data:${list}">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <td th:text="${data.accountId}">
                                        accountId
                                    </td>
                                    <td th:text="${data.date}">
                                        date
                                    </td>
                                    <td th:text="${data.money}">
                                        money
                                    </td>
                                    <td th:text="${data.content}">
                                        content
                                    </td>
                                    <td th:text="${data.accountType.name()}">
                                        AccountType
                                    </td>
                                    <td th:text="${data.accountRole.name()}">
                                        AccountRole
                                    </td>
                                    <td>
                                        <button type="button" class="button"
                                                th:onclick="|location.href='@{/account/update(id=${data.accountId})}'|"
                                                sec:authorize="hasAnyRole('USER', 'ADMIN')">
                                            <span class="material-symbols-outlined">
                                                edit_note
                                            </span>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="button"
                                                th:onclick="|location.href='@{/account/delete(id=${data.accountId})}'|"
                                                sec:authorize="hasAnyRole('USER', 'ADMIN')">
                                            <span class="material-symbols-outlined">
                                                delete
                                            </span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="container mt-3 mb-3 p-3 my-3">
                <div class="container mt-3 mb-5">
                    <div class="card1">
                        <div class="card-body">총 자산</div>
                        <div class="cardbody" th:text="${total}">
                        </div>
                    </div>
                </div>
                <div class="container mt-3 mb-5">
                    <div class="card1">
                        <div class="card-body">수입</div>
                        <div class="cardbody" th:text="${income}">
                        </div>
                    </div>
                </div>
                <div class="container mt-3 mb-5">
                    <div class="card1">
                        <div class="card-body">지출</div>
                        <div class="cardbody" th:text="${expense}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search">
            <form class="d-flex" th:action="@{/account/list}" method="get">
                <div class="container input-group mb-3 mt-3">
                    <label for="type" class="form-label"></label>
                    <select class="form-select-sm" id="type" name="type">
                        <option value="" th:selected="${type==null}" hidden=""></option>
                        <option value="c" th:selected="${type=='c'}">내용</option>
                        <option value="i" th:selected="${type=='i'}">수입</option>
                        <option value="e" th:selected="${type=='e'}">지출</option>
                        <option value="cd" th:selected="${type=='cd'}">카드</option>
                        <option value="ch" th:selected="${type=='ch'}">현금</option>
                        <option value="b" th:selected="${type=='b'}">은행</option>
                    </select>
                    <label for="keyword" class="form-label"></label>
                    <input type="text" class="form-control" name="keyword"
                           id="keyword" th:value="${param.keyword}"
                           placeholder=" " />
                    <button type="submit" class="btn">
                                <span class="material-symbols-outlined">
                                    search
                                </span>
                    </button>
                </div>
            </form>
        </div>
        <!-- 여백 -->
        <div class="col-sm-2"></div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        /* 작업 성공했을 때 성공메세지 창을 출력 */
        var successMessage = /*[[ ${successMessage} ]]*/ null;
        if (successMessage) {
            alert(successMessage);
        }
    </script>

    <script th:inline="javascript">
        /* 회원 정보가 맞지 않을 때 메세지 창을 출력 */
        var error = /*[[ ${error} ]]*/ null;
        if (error) {
            alert(error);
        }
    </script>

    <script th:inline="javascript">
        // 페이지 로드 시 실행되는 함수
        window.onload = function () {
            // type 선택 드롭다운 메뉴 변경 시 실행되는 함수
            document.getElementById('type').addEventListener('change', function () {
                var typeSelect = document.getElementById('type');
                var keywordInput = document.getElementById('keyword');

                // type이 'c'일 때만 keyword 입력 가능하도록 설정
                if (typeSelect.value === 'c') {
                    keywordInput.placeholder = 'Please enter your details :)';
                    keywordInput.disabled = false;
                } else {
                    keywordInput.placeholder = '';
                    keywordInput.disabled = true;
                }
            });
        };
    </script>

    <script th:inline="javascript">
        function changePlaceholder() {
            const dateInput = document.getElementById('date');
            const datatype = document.getElementById('datatype').value;

            if (datatype === 'year') {
                dateInput.placeholder = 'yyyy';
            } else {
                dateInput.placeholder = 'yyyy-MM';
            }
        }

        //데이터 유형에 따라 날짜 값의 유효성을 검사
        function validateDate() {
            const dateInput = document.getElementById('date');
            const datatype = document.getElementById('datatype').value;
            const dateValue = dateInput.value.trim();

            if (datatype === 'year') {
                const yearRegex = /^\d{4}$/;
                if (!yearRegex.test(dateValue)) {
                    alert('Please enter a valid year in the format "yyyy". Thank you♥');
                    return false;
                }
            } else {
                const monthRegex = /^\d{4}-\d{2}$/;
                if (!monthRegex.test(dateValue)) {
                    alert('Please enter a valid month in the format "yyyy-MM". Thank you♥');
                    return false;
                }
            }

            return true;
        }
    </script>
</th:block>
</body>
</html>